@media screen and (min-width: 1000px){
	.desktop{
		display: block !important;
	}
	.mobile{
		display: none !important;
	}
}

@media screen and (max-width: 1000px){
	.mobile{
		display: block !important;
		text-align: center;
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 160%;
	}
	.desktop{
		display: none !important;
	}
}

.icon {
    display: block;
    margin: auto;
    border: solid 4px #ffffff;
    border-radius: 50%;
}

body {
    background: #000000;
    color: #ffffff;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	margin: auto;
}

p {
    color: #ffffff;
    text-align: center;
}

label {
	display: table-row;
	
}

input {
	display: table-row;
}

.form {
    margin: auto;
    display: table;
	
}


#submit {
     display: table;
     margin: 0 auto;
}

section{
	width: 350px;
	margin: auto;
	
}

footer {
	padding-top: 30px;
}
